<app-header></app-header>
<div  class="d-flex width-100" style="margin: 2%">
    <div class="row">
        <div class="col-3 ">
            <div class="card" style="margin: 5px 0; max-width: 400px; min-width: 190px;">  
                <div class="row" style="margin: 5px;">
                    <div class="col">
                        <span>
                            <p class="card-title"><strong>Central</strong></p>
                        </span>
                    </div>
                    <div class="card-body">
                        <p class="card-text"> 
                            Numero telefono: <br>
                            439#### - 765#####
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card" style="margin: 5px 0; max-width: 400px; min-width: 190px;">  
                <div class="row" style="margin: 5px;">
                    <div class="col">
                        <span><p class="card-title"><strong>Sucursal 1</strong></p></span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Numero telefono: <br>
                            426#### - 797##### 
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card" style="margin: 5px 0; max-width: 400px; min-width: 190px;">  
                <div class="row" style="margin: 5px;">
                    <div class="col">
                        <span><p class="card-title"><strong>Sucursal 2</strong></p></span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Numero telefono: <br>
                            436#### - 779##### 
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
  